.search {
	display: flex;
	width: 20vw;
	height: 5vh;
	min-height: 5vh;
	background-color: var(--search-color);
	justify-content: space-around;
	padding: 2px;
	border-width: 10px;
	margin-right: 2vw;
	border-radius: 5px;
	padding: 0;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.7vw;
	background-color: white;
	height: 2.3vh;
}
.fa.fa-search {
	padding: 0;
	margin: 0;
}
.fa.fa-search::before {
	padding: 0;
	margin: 0;
}

.bar {
	border: none;
	width: 80%;
	height: 100%;
	outline: none;
	font-size: 20px;
}

#searchButton {
	border: none;
	background-color: var(--button-color);
	color: white;
	width: 6vw;
	height: 100%;
	max-width: 20vw;
	min-width: 1vw;
	font-size: 1vw;
	padding: 1vh;
}

input::placeholder {
	font-size: 20px;
}
