#theme{
    width: 50px; 
    height: 50px ;
    margin-left: 1vw ;
}

#theme:hover{
    cursor: pointer ;
}

.dark_theme{
    --header-color: #3b3b3b ;
    --main-color: #161616 ;
    --search-color : white ;
    --button-color : rgb(150, 27, 27) ;
}

.light_theme{
    --header-color: rgb(65, 120, 120) ;
    --main-color: white ;
    --search-color : rgb(65, 120, 120) ;
    --button-color : rgb(29, 85, 85) ;
}

.search_filters{
    display: flex ;
    align-items: center ;
    justify-content: space-between;
}

