#theme{
    width: 50px; 
    height: 50px ;
    margin-left: 1vw ;
}

#theme:hover{
    cursor: pointer ;
}

.dark_theme{
    --header-color: #3b3b3b ;
    --main-color: #161616 ;
    --search-color : white ;
    --button-color : rgb(150, 27, 27) ;
}

.light_theme{
    --header-color: rgb(65, 120, 120) ;
    --main-color: white ;
    --search-color : rgb(65, 120, 120) ;
    --button-color : rgb(29, 85, 85) ;
}

.search_filters{
    display: flex ;
    align-items: center ;
    justify-content: space-between;
}

.container{
    position: relative;
    max-width: 30vw;
}

.select-btn{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.select-btn .btn-text{
    font-size: 17px;
    font-weight: 400;
    color: #333;
}

.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #6e93f7;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}

.list-items{
    position: relative ;
    margin-top: 20vh;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-btn.open ~ .list-items{
    display: block;
}

.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-items .item:hover{
    background-color: #e7edfe;
}

.item .item-text{
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox{
    background-color: #4070f4;
    border-color: #4070f4;
}
.checkbox .check-icon{
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
    transform: scale(1);
}