body {
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	width: 100vw;
	height: 10vh;
	background-color: var(--header-color);
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

.main {
	margin-top: 15vh;
}

.movie-box {
	width: 10vw;
	height: 20vh;
	background-color: grey;
}
