body{ 
    margin: 0 ;
    padding: 0 ;
    height: 100vh ;
    display: flex ;
    flex-direction: column ;
}

.header{ 
    display: flex ;
    width: 100% ;
    height: 10% ;
    background-color: #2b2a2a ;
}

.main{ 
    display: flex ;
    width: 100% ;
    height: 90% ;
    background-color: #2b2a2a ;
    justify-content: center ;
    align-items: center ;
}

.search{
    display: flex ;
    width: 100vh ;
    height: 8vh;
    background-color: white ;
    align-items: center ;
}

.iconSearch{
    background-color: white ;
    width: 5%;
    height: 98% ;
    display: flex ;
    justify-self: center ;
    align-items: center ;
    padding-left: 20px ;
}

.bar{
    border: none ;
    width: 80%;
    height: 95% ;
}

.searchButton{
    border: none ;
}