<!DOCTYPE html>

<html>
    <head>
        <title>movie-watch</title>
        <link rel="stylesheet" href="../css/test.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class = "header">`
        </div>

        <div class="main">
            <form class="search" action="">
                <div class = "iconSearch"><i class="fa fa-search"></i></div>
                <input type="text" placeholder="Search.." class = "bar">
                <button class = "searchButton">Search</button></div>
            </form>
        </div>
        
        <script></script>
    </body>
</html>